<li class="list-group-item">
  <span class="badge">
    <h4>
      <%= locals[:indicator] %>
      <% if locals[:percentage]  %>
        %
      <% end %>
    </h4>
  </span>
  <h4>
    <%= locals[:label] %>
  </h4>
</li>
