<p id="notice"><%= notice %></p>

  <%= @blog_page.body.html_safe %>

  <% if user_signed_in? %>
    <%= link_to 'Edit page', rails_admin.edit_path(model_name: 'blog_page', id: @blog_page.id) %> 
  <% end %>
