.git
app
bin
config
config.ru
data
db
Gemfile
Gemfile.lock
.gitignore
.gitignore.1
institutii.txt
lib
LICENSE.txt
log
public
Rakefile
rake_task.log
README.md
README.rdoc
.ruby-version
test
tmp
vendor
