<h1>Listing trial_proceedings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trial_proceedings.each do |trial_proceeding| %>
      <tr>
        <td><%= link_to 'Show', trial_proceeding %></td>
        <td><%= link_to 'Edit', edit_trial_proceeding_path(trial_proceeding) %></td>
        <td><%= link_to 'Destroy', trial_proceeding, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trial proceeding', new_trial_proceeding_path %>
