<h2>Dosare</h2>

<div class="bs-component">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <td>
          Număr dosar
        </td>
        <td>
          Categorie caz
        </td>
        <td>
          Stadiu Procesual
        </td>
      </tr>
    </thead>

    <tbody>
      <% @trial_proceedings.each do |proceeding| %>
        <tr>
          <td>
            <%= proceeding.number %>
          </td>
          <td>
            <%= proceeding.case_type %>
          </td>
          <td>
            <%= proceeding.trial_status %>
          </td>
        </tr>
      <% end %>

    </tbody>
  </table>
  <%= paginate @trial_proceedings.all, :param_name => :trial_proceedings_page %>
</div>
