<h1>Dosare</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trial_proceedings.each do |trial_proceeding| %>
      <tr>
        <%= render trial_proceeding %>
      </tr>
    <% end %>
    <%= paginate @trial_proceedings.all, :param_name => :trial_proceedings_page %>>
  </tbody>
</table>
