<h2>Dicționar</h2>

<% @dictionary_terms.each do |dictionary_term| %>

  <div class="row">
    <div class="col-lg-3">
      <div class="bs-component">
        <h3>
          <%= dictionary_term.termen %>
        </h3>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="bs-component">
        <h5>
          <%= dictionary_term.legaleza %>
        </h5>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="bs-component">
        <h5>
          <%= dictionary_term.romana %>
        </h5>
      </div>

    </div>
  </div>
<% end %>
