
<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <div class="row">
      <h2>
        Noutăți
      </h2>
    </div>
    <% @blog_posts.each do |blog_post| %>
      <div class="row">
        <h3>
          <%= link_to blog_post.title, blog_post_path(blog_post) %> 
        </h3>
        <div class="bs-docs-section">
          <div class="bs-component">
            <div class="well">
              <%= truncate strip_tags(blog_post.body.html_safe), length: 500 %>
              <%= link_to 'Citește mai mult', blog_post %> 
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
