<%= form_for(@trial_meeting) do |f| %>
  <% if @trial_meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trial_meeting.errors.count, "error") %> prohibited this trial_meeting from being saved:</h2>

      <ul>
      <% @trial_meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
