<div>
  <div><%= court.name %>
  <div><%= link_to 'Show', court %></div>
  <div><%= link_to 'Edit', edit_court_path(court) %></div>
  <div><%= link_to 'Destroy', court, method: :delete, data: { confirm: 'Are you sure?' } %></div>
</div>
