<% content_for :head do %>
  <script type="text/javascript">
    $(function() {
      make_donut = function(component, percentage, colour){
        var start_arch = -Math.PI*0.75;
        if(typeof colour === 'undefined'){
          colour = "#5BC0DE";
         };
        var vis = d3.select("#" + component);
        var arc = d3.svg.arc()
          .innerRadius(50)
          .outerRadius(100)
          .startAngle(start_arch)
          .endAngle(start_arch + 0.02*Math.PI*percentage);

        vis.append("path")
          .style("fill", function(d){return colour;})
          .attr("d", arc)
          .attr("transform", "translate(100,100)");
      };
      make_donut("performance_indicator_donut", <%= @court.performance_indicator.to_i %>, "#F0AD4E");
    });
  </script>
<% end %>

<div class="row">
  <h2>
    <%= @court.name %>
  </h2>
</div>
<div class="bs-component">
  <div class="bs-example">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#indicators" data-toggle="tab">
          Indicatori
        </a>
      </li>
      <li>
        <a href="#hearings" data-toggle="tab">
          Ședințe
        </a>
      </li>
    </ul>
  </div>  
  <div class="tab-content">
    <%= render 'court_tab_indicators' %>
    <div class="tab-pane fade" id="hearings">
      <p>Work in progress</p>
    </div>
  </div>
</div> 
