<p id="notice"><%= notice %></p>

<div class="col-lg-12">
  <div class="bs-component">
    <div class="jumbotron">
      <h1><%= @court.name %></h1>
      <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <p>
      <%= link_to 'Înapoi', courts_path, :class => 'btn btn-primary btn-lg' %>
      </p>

    </div>
    <div style="display: none;" id="source-button" class="btn btn-primary btn-xs">&lt; &gt;</div></div>
</div>
        
