<div class="menu_spacing"></div>

<h2>
  ABC Juridic
</h2>
</br>
</br>
<div class="row">
  <div class="col-lg-6">
    <a href="/pages/etape_civil">
      <img src="/assets/etape_civil.png" alt="Abc Jurudic">
    </a>
  </div>
  <div class="col-lg-6">
    <a href="/pages/etape_penal">
      <img src="/assets/etape_penal.png" alt="Dicționar Juridic">
    </a>
  </div>
</div>
</br>
<div class="row">
  </br>
  <div class="col-lg-6">
    <a href="/pages/ierarhia_instantelor">
      <img src="/assets/ierarhia_instantelor.png" alt="Abc Jurudic">
    </a>
  </div>
  <div class="col-lg-6">
    <a href="/pages/organe_de_cercetare">
      <img src="/assets/organe_de_cercetare.png" alt="Dicționar Juridic">
    </a>
  </div>
</div>
