<div class="menu_spacing"></div>

<div class="row">
  <h2>
    Despre
  </h2>

  <p>Platforma <a href="http://onoratainstanta.ro">onoratainstanta.ro</a> reprezintă finalitatea proiectului Open Justice 2.0 for Romania, ce vizează elaborarea unei metodologii de evaluare a predictibilităţii actului de justiţiei pe baza unor indicatori cantitativi şi calitativi şi a unei analize cu privire la relevanţa datelor astfel obţinute în vederea formulării unor politici publice în domeniu. Platforma urmăreşte totodată să contribuie la sporirea transparenţei actului de justiţie, aducându-şi astfel aportul şi la creşterea încrederii cetăţenilor în sistemul de justiţie în ansamblul său.
  </p>

  <h2>
    CINE
  </h2>
  <p>Proiectul a fost iniţiat de asociaţia <a href="http://funkycitizens.org/">Funky Citizens,</a> cu sprijinul <a href="http://www.kas.de/rspsoe/ro/">Fundaţiei Konrad Adenauer</a>, Programul Statul de Drept Europa de Sud-Est. Ni s-a alăturat în dezvoltarea platformei <a href="http://ceata.org/">Fundaţia Ceata</a>, prin Andrei Petcu.

  <h2>
    ECHIPA
  </h2>

  <ul class="list-unstyled">
    <li>Andrei Petcu – dezvoltare platformă</li>
    <li>Codru Vrabie – cercetare şi conţinut</li>
    <li>Alina Calistru – cercetare şi culegere date</li>
    <li>Elena Calistru – management proiect</li>
    <li>Cosmin Pojoranu – comunicare şi design</li>
  </ul>

  <p>
  Mii de mulţumiri se îndreaptă către domnii Andrei Avram (pentru ajutor în a fi la standard când vine vorba de prezentare), Mircea Kivu (pe partea de dezvoltare a metodologiei), Radu Andrei (pentru alergătură şi organizarea evenimentelor), Dani Sandu (pentru ajutorul dat în calcularea indicatorilor), Doru Toma (pentru ghidare şi răspuns la telefon oricând şi pentru orice), Petre Tudor (pentru ajutor nocturn întru ale bazelor de date).
  </p>

  <h2>
    DURATĂ
  </h2>
  <p>
  1 februarie 2014 – 1 decembrie 2014
  </p>

  <h2>
    MOTIVAȚIE
  </h2>
  <p>
  În România au fost făcute eforturi semnificative și vizibile la nivel  legislativ și instituțional pentru combaterea corupției și reformarea sistemului de justiţie, în contextul integrării în Uniunea Europeană și a. Cu toate acestea, chiar și după ani de reformă, în țara noastră încă predomină o lipsă de viziune în administrarea sistemului de justiţie, ceea ce face ca statul de drept să fie încă pe deplin consolidat și actul de justiție să nu fie întotdeauna previzibil.
  </p>

  <p>Proiectul abordează problemele legate de reforma justiției, diferențiind între două categorii de intervenții: reforma procesului ce ține de actul de justiție și eficacitatea actului de justiție (rezultatele constând în procese, decizii etc.). Până în prezent, discursul public  a fost axat în special pe rezultatele sistemului de justiţie (ex. câte cazuri de înaltă corupție au fost soluționate)
  </p>

  <h2>
    OBIECTIVE SPECIFICE
  </h2>
  <ol>
    <li>Dezvoltarea unei metodologii prin care să evaluăm predictibilitatea actului de justiție, prin trei indicatori principali: durată, jurisprudență, performanța magistraților.</li>
    <li>Sporirea transparenței, prin punerea la dispoziție a datelor prin intermediul unei platforme interactive, prietenoase și comprehensive.</li>
    <li>Promovăm prin advocacy standarde în asigurarea unui act de justiție predictibil, în parteneriat cu autoritățile responsabile cu gestionarea sistemului de justiţie.</li>
  </ol>

  <h2>
    GRUPURI ŢINTĂ
  </h2>
  <ul>
    <li>Cetățeni – sporirea încrederii în sistemul de justiţie pentru vizitatorii website-ului</li>
    <li>Magistrați – vor fi direct vizaţi de informaţiile website-ului, beneficiind de o platformă complexă care oferă imaginea performanţei sistemului judiciar</li>
    <li>Factorii de decizie din sistemul de justiţie – participanți la acțiunile de cercetare și advocacy</li>
  </ul>

  <h2>
    DESPRE PLATFORMĂ
  </h2>
  <p>
  Andrei, aici ar fi mişto să avem câteva specificaţii tehnice…
  </p>

  <h2>
    DESPRE DATE
  </h2>

  <p>
  Datele statistice sunt obţinute din următoarele surse:
  </p>
  <ol>
    <li>Consiliul Superior al Magistraturii - Raport privind starea justiţiei 2013 şi răspunsuri la solicitări făcute în baza legii 544/2001</li>
    <li>Ministerul Justiţiei - portal.just.ro</li>
    <li>Institutul Naţional de Statistică - www.recensamantromania.ro</li>
  </ol>
</div>
