<div class="menu_spacing"></div>

<div class="row">
  <h2>
    Educație
  </h2>
  <div class="col-lg-6">
    <a href="/pages/abc_juridic">
      <img src="/assets/abc.jpg" alt="Abc Jurudic">
    </a>
  </div>
  <div class="col-lg-6">
    <a href="/dictionary_terms">
      <img src="/assets/dictionar.jpg" alt="Dicționar Juridic">
    </a>
  </div>
</div>
