<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<body>
  <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <h2>Indice de performanță</h2>
    <p>Această primă evaluare apare într-un context în care sistemul de justiţie, deşi încă este aflat sub lupa Comisiei Europene în cadrul Mecanismului de Cooperare şi Verificare, a înregistrat progrese semnificative, atât din perspectiva reformei sale interne, cât şi din perspectiva încrederii cetăţenilor în acesta.</p>
    <p>Definim performanţa instanţelor din România ca pe un set de indicatori şi factori care determină nivelul de predictibilitate în administrarea actului de justiţie. Predictibilitatea, la rândul său, determină o încredere mai mare a justiţiabililor în actul de justiţie, un element fundamental în consolidarea statului de drept. Cu alte cuvinte, o instanţă care este mai performantă, are o probabilitate mai mare de a fi şi predictibilă în timp. </p>

    <p>
    <h2><a href="/pdf/Metodologie_Indice.pdf">Metodologie</a></h2>
    </p>

    <p><h2>Indice de performanță - Curți de Apel România</h2></p>
    <p>
    <img class="img-responsive" src="/images/indice-de-performanta-curti-de-apel-romania-onorata-instanta.png" alt="indice de performanta curti de apel romania onorata instanta">
    </p>

    <p><h2>Indice de performanță - Tribunale România</h2></p>
    <p>
    <img class="img-responsive" src="/images/indice-de-performanta-tribunale.png" alt="indice de performanta tribunale">
    </p>

    <p><h2>Indice de performanță - Judecătorii</h2></p>
    <div id="map"></div>
    <div id="map-canvas"></div>
    <p>
    <h2><a href="/pdf/Indicele_de_performanta_complet.pdf">Indicele de performanta complet</a></h2>
    </p>
    <p>
    <h2><a href="/pdf/Policy_Paper-Propuneri_de_politică_publică_pe_marginea_indicatorilor_statistici.pdf">Policy Paper - Propuneri de politică publică pe marginea indicatorilor statistici</a></h2>
    </p>
    <p>
    <h2><a href="/pdf/Policy_Paper-Degrevarea_instantelor_de_o_parte_din_volumul_dosarelor.pdf">Policy Paper - Degrevarea instantelor de o parte din volumul dosarelor</a></h2>
    </p>
    <p>
    <h2><a href="/pdf/Policy_Paper-ROLUL_CSM_ICCJ_ȘI_MP_fata_de_politicile_publice_din_justitie.pdf">Policy Paper - ROLUL CSM, ICCJ ȘI MP fata de politicile publice din justitie</a></h2>
    </p>


    <script>
      // create a map in the "map" div, set the view to a given place and zoom
      var map = L.map('map').setView([45.87532, 25.05214], 7);

      // add an OpenStreetMap tile layer
      L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
          }).addTo(map);
    </script>
    <script src="/js/map_data.js"></script>
    <script src="/js/maps_with_leaflet.js"></script>

</body>
</html>
