
<section>
  <div class="mainContainer">
    <div class="row">
      <div class="col-md-1 col-xs-0 col-sm-0"></div>
      <div class="col-md-5 col-xs-12 col-sm-6">
        <h2>Avem date pentru fiecare instanță din România:</h2>
        <ul class="find-more">
          <li>află cât de performantă e fiecare instanță </li>
          <li>află date agregate despre fiecare instanță</li>
          <li>află cum se traduce legaleza în română</li>
          <li>află cum funcționează sistemul juridic</li>
        </ul>
      </div>
      <div class="col-md-6 col-xs-12 col-sm-6">
        <img src="assets/map.jpg" class="img-responsive">
      </div>
    </div>
  </div>
</section>
