<p id="notice"><%= notice %></p>

<h2>Vă mulțumim că v-ați abonat</h2>
<p>
  <strong>Name:</strong>
  <%= @contact_email.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact_email.email %>
</p>

<%= link_to 'Înapoi', root_path %>
