// Example using 'superhero' bootswatch
//

@font-face {
  font-family: 'open_sansregular';
  src: font-url('/assets/font/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// First import superhero variables
@import "bootswatch/superhero/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }

// And finally bootswatch style itself
@import "bootswatch/superhero/bootswatch";

body {
  font-family: 'open_sansregular';
}
